.singleValue {
  height: 100%;
}

.option {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $color-octant-dark;

  &:not(:last-child) {
    margin: 0 0 2rem 0;
  }

  .iconTick {
    margin: 0 2rem 0 0;
  }
}

.menu {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 3.2rem 2.3rem;
  border-radius: $border-radius-20 $border-radius-20 0 0;
  z-index: $z-index-5;
  box-shadow: $box-shadow-1;
  height: auto;
  width: 100%;
  animation: fadeIn 0.25s linear;
  background: $color-white;
}

.overlay {
  @include overlay(100%, 100%);
}

.buttonClose {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  z-index: $z-index-4;
}
