.InputSelect {
  &__value-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  &__control {
    cursor: pointer !important;
    border: 0 !important;
    min-height: auto !important;
    height: 3rem;

    &--is-focused {
      box-shadow: none !important;
    }

    &--menu-is-open {
      .InputSelect__indicators {
        transform: rotate(180deg);
      }
    }
  }

  &__indicators {
    height: 3rem;
  }

  &__indicator {
    color: $color-octant-dark !important;

    &-separator {
      display: none;
    }
  }

  &__menu {
    position: fixed !important;
    top: auto !important;
    bottom: 0;
    left: 0;
    margin: 0 !important;
    padding: 3.2rem 2.3rem !important;
    border-radius: $border-radius-20 $border-radius-20 0 0 !important;
    z-index: $z-index-4 !important;
    box-shadow: $box-shadow-1 !important;
    height: auto;
    width: 100%;
    animation: fadeIn 0.25s linear;
  }

  &__option {
    &--is-focused, &--is-selected {
      background: none !important;
    }
  }
}
