$verticalDistanceBetweenElements: $layoutMarginHorizontal;

.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;

  @media #{$desktop-up} {
    margin: 0 (-(calc($verticalDistanceBetweenElements / 2)));
  }
}

.element {
  margin-bottom: 2.4rem;

  @media #{$desktop-up} {
    @include flexBasisGutter(2, 1.6rem);
  }
}

.tip {
  margin-bottom: 1.6rem;

  @media #{$desktop-up} {
    margin-bottom: 2.8rem;
  }
}
