$headerNavigationBorderRadius: $border-radius-32;

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  min-width: 39rem;
  max-width: 70rem + $layoutMarginHorizontal * 2;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $headerNavigationHeight;
  border-radius: $headerNavigationBorderRadius;
  background: $color-white;
  padding: $layoutMarginHorizontal;
  margin: 1.6rem $layoutMarginHorizontal 0;
  box-shadow: $box-shadow-1;
  z-index: $z-index-3;

  @media #{$desktop-up} {
    margin: 1.6rem $layoutMarginHorizontal 0;
  }
}

.logoWrapper {
  position: relative;
  height: 4rem;
}

.testnetIndicatorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -1rem;
  right: -0.2rem;
  transform: translate(75%, 0);
  background: $color-white;
  height: 1.6rem;
  box-sizing: content-box;
  border-radius: 1.2rem;
  padding: 0.4rem 0.5rem;
}

.testnetIndicator {
  display: flex;
  align-items: center;
  font-size: $font-size-10;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: $color-white;
  letter-spacing: 0.1rem;
  background: $color-octant-orange;
  border-radius: 0.8rem;
  height: 1.6rem;
  padding: 0 0.8rem;
  user-select: none;
}

.buttons {
  display: flex;
  align-items: center;
}

.walletButton {
  margin-left: 1.6rem;
  cursor: pointer;

  &.isWalletModalOpen {
    transform: rotate(180deg);
  }
}

.profileInfo {
  display: flex;
  align-items: center;
  font-size: $font-size-14;
  cursor: pointer;
  padding: $layoutMarginHorizontal;
  margin: (-$layoutMarginHorizontal);
}

.walletInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.address {
  font-weight: $font-weight-bold;
}

.budget {
  font-size: $font-size-14;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  padding: 1.6rem $layoutMarginHorizontal $layoutBodyMarginBottom;

  @media #{$desktop-up} {
    padding-top: 2.4rem;
  }

  &.isNavigationBottomSuffix {
    padding-bottom: $layoutBodyMarginBottom * 2;
  }

  &.isLoading {
    justify-content: center;
  }
}

.navigationWrapper {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: $layoutMarginHorizontal;
  left: 0;
  width: 100%;
  padding: 0 $layoutMarginHorizontal;
  z-index: $z-index-4;
  pointer-events: none;
}

.navigation {
  border-radius: $headerNavigationBorderRadius;
  background: $color-white;
  box-shadow: $box-shadow-1;
  width: 100%;
  max-width: 37.8rem;
  pointer-events: initial;

  &.hasNavigationBottomSuffix {
    border-radius: 1.6rem 1.6rem $headerNavigationBorderRadius $headerNavigationBorderRadius;
  }

  .navigationBottomSuffix {
    padding: 1.6rem;
    border-bottom: 0.1rem solid $color-octant-grey4;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $headerNavigationHeight;
    padding: 1.2rem 2rem 1.5rem;
    margin: 0 -0.9rem;
  }

  .buttonNavigation {
    height: 100%;
    padding: 0 1rem;
  }
}

.iconNumberOfAllocations {
  position: relative;
}

.numberOfAllocations {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.2rem;
  width: 1.2rem;
  position: absolute;
  bottom: 0.7rem;
  right: 0.5rem;
  color: $color-white;
  font-size: $font-size-07;
  background: $color-octant-orange;
  border-radius: 50%;
  transform: translateZ(0); // On webkit solves the flickering of text during the scale.

  &.isAllocationValueChanging {
    &[data-is-initial-load-done='true'] {
      animation-name: scale1;
      animation-duration: $transition-time-1;
    }
  }
}

.coinGecko {
  position: fixed;
  bottom: 0.7rem;
  color: $color-octant-grey3;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: $font-size-08;
}
