.box {
  &:not(:last-child) {
    margin: 0 auto 1.6rem;
  }
}

.totalDonation {
  display: flex;
  align-items: center;
  width: 100%;

  .label {
    text-align: left;
    flex: 1;
    color: $color-octant-grey6;
  }
}

.values {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .budgetValue {
    text-align: left;
  }
}

.separator {
  font-size: 2rem;
}

.header {
  text-align: left;
  font-size: $font-size-14;
  color: $color-octant-grey6;
  height: 1.7rem;
  margin: 0 0 1rem 0;
}

.progressBar {
  margin: 1.6rem 0 0 0;
}
