.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: $z-index-5;
  left: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  background: $color-octant-grey4;

  .image {
    display: flex;
    align-items: flex-end;
    margin-top: 5.6rem;
  }

  .header {
    position: relative;
    font-size: $font-size-20;
    font-weight: $font-weight-bold;
    width: 100%;
    overflow: hidden;
  }
}

.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background: $color-white;
  padding: 3.2rem 5.6rem;
  overflow: auto;
}

.overflow {
  @include overlay(0, 0);
  width: 100%;
  height: 100%;
}

.buttonClose {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  z-index: $z-index-4;

  &.isFullScreen {
    position: fixed;
  }
}

@media #{$desktop-up} {
  .root {
    width: 47.2rem;
    left: 50%;
    box-shadow: $box-shadow-1;
    border-radius: $border-radius-20;
  }

  .buttonClose {
    &.isFullScreen {
      position: absolute;
    }
  }

  .body {
    padding: 5.6rem 2.4rem;

    &.hasImage {
      border-radius: 0 0 $border-radius-20 $border-radius-20;
    }
    &:not(.hasImage) {
      border-radius: $border-radius-20;
    }
  }
}
