.element {
  width: 100%;

  &:not(:last-child) {
    margin: 0 auto 4.8rem;
  }
}

.box {
  &:not(:last-child) {
    margin: 0 auto 1.6rem;
  }
}

.lockedRatioProgressBar {
  margin: 1.6rem 0 0 0;
}

.tip {
  margin-bottom: 3.2rem;
}

.blackText {
  color: $color-octant-dark;
}
