@mixin overlay($width, $height) {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: $height;
  width: $width;
  z-index: $z-index-4;
  cursor: pointer;

  // This class needs to be aligned with whatever triggers the overflow to open, e.g. Modal.tsx.
  &.isOpen {
    backdrop-filter: blur(4px);
  }
}

@mixin flexBasisGutter($elementsCount, $gutterSize) {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(
    #{calc(100 / $elementsCount)}% - #{calc($gutterSize * ($elementsCount - 1) / $elementsCount)}
  );
}

@mixin boldText() {
  font-weight: $font-weight-superbold;
}
