$font-size-base: 10px;
$font-size-24: 2.4rem;
$font-size-20: 2rem;
$font-size-18: 1.8rem;
$font-size-16: 1.6rem;
$font-size-14: 1.4rem;
$font-size-12: 1.2rem;
$font-size-10: 1rem;
$font-size-08: 0.8rem;
$font-size-07: 0.7rem;

$font-weight-superbold: 700;
$font-weight-bold: 600;
$font-weight-semibold: 500;
$font-weight-medium: 400;
