$border-radius-standard: 0.5rem;
$border-radius-04: 0.4rem;
$border-radius-08: 0.8rem;
$border-radius-10: 1rem;
$border-radius-16: 1.6rem;
$border-radius-20: 2rem;
$border-radius-32: 3.2rem;

$box-shadow-1: 0px 0px 25px rgba(0, 0, 0, 0.05);

$transition-time-1: 0.5s;
$transition-time-2: 0.25s;
$transition-time-3: 0.2s;
$transition-time-4: 0.1s;

$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4; // overlays
$z-index-5: 5; // modals

// distances
$headerNavigationHeight: 7.2rem;
$layoutMarginHorizontal: 2.4rem;
$layoutBodyMarginBottom: $headerNavigationHeight + 2 * $layoutMarginHorizontal;
$progressStepperSlimStepPadding: 2.4rem;
