$stepHeight: 0.8rem;

.root {
  display: flex;
  width: 100%;
}

.stepWrapper {
  width: 100%;
  margin: 0 0.8rem;
  padding: $progressStepperSlimStepPadding 0;
  height: $stepHeight;
  box-sizing: content-box;

  &.isClickable {
    cursor: pointer;
  }

  &:hover {
    .step {
      &:not(.isCurrent) {
        background: $color-octant-grey2;
      }
    }
  }
}

.step {
  border-radius: calc($stepHeight / 2);
  background: $color-octant-grey4;
  height: 100%;
  width: 100%;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }

  &.isCurrent {
    background-color: $color-octant-green;
  }
}
