.progressBar {
  align-self: stretch;
  margin: 4.8rem 5.2rem (-$progressStepperSlimStepPadding);
}

.bold {
  @include boldText();
}

.onboardingModalText {
  height: 21.6rem;
}

.onboardingModalImage {
  height: 24.8rem;
}
