.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.2rem;
  width: 100%;
  border-bottom: 0.1rem solid $color-octant-grey4;
}

.label {
  display: flex;
  align-items: center;
  font-size: $font-size-14;
  color: $color-octant-grey6;
  margin-right: 1.6rem;
}

.tooltip {
  margin-left: 1.2rem;
  cursor: pointer;
}
