.root {
  position: relative;
  display: flex;
  background: $color-white;
  border-radius: $border-radius-16;
  width: 100%;
}

.infoLabel {
  color: $color-octant-dark;
  font-weight: $font-weight-bold;
  font-size: $font-size-14;
  margin-left: 0.8rem;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.info {
  display: flex;
  align-items: center;
  padding: 2.4rem 0 0 2rem;
}

.body {
  text-align: left;
  padding: 1.6rem 0 1.6rem 2.4rem;
}

.title {
  color: $color-octant-dark;
  font-weight: $font-weight-bold;
  font-size: $font-size-18;
  margin-bottom: 0.8rem;
  padding: 0.5rem 0;
  line-height: 2.2rem;
}

.imageWrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 2rem 1.6rem 0;
  height: 100%;

  @media #{$desktop-up} {
    flex: 1;
    width: 28rem;
    padding: 1.6rem 0;
  }
}

.text {
  color: $color-octant-grey6;
  font-size: $font-size-12;
  font-weight: $font-weight-semibold;
  line-height: 2.2rem;
  padding-bottom: 1.2rem;
  width: 19rem;

  @media #{$desktop-up} {
    flex: 1;
    width: 28rem;
  }
}

.buttonClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
