.box {
  &:not(:last-child) {
    margin: 0 auto 1.6rem;
  }
}

.boxesWrapper {
  width: 100%;

  @media #{$desktop-up} {
    padding-right: 3.2rem;
  }
}

.layoutBody {
  @media #{$desktop-up} {
    align-items: start;
    min-height: 0;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: start;
  min-height: 0;

  @media #{$desktop-up} {
    flex-direction: row;
  }
}

.tip {
  margin-bottom: 1.6rem;

  @media #{$desktop-up} {
    margin-bottom: 2.8rem;
  }
}
