// Overwrites for react-toastify/dist/ReactToastify.css.

.Toastify__toast-container {
  width: 34rem !important;
  top: 1rem !important;
  left: 50% !important;
  margin: auto !important;
  transform: translate(-50%, 0) !important;
}

.Toastify__toast {
  background: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  margin: 0 0 1.6rem 0;
  width: 34rem;
  box-shadow: none !important;
}

.Toastify__toast-body {
  box-shadow: $box-shadow-1 !important;
  padding: 0 !important;
}

.Toastify__progress-bar {
  visibility: hidden; /* display: none or hideProgressBar prop for toast doesnt work */
}

.Toastify__toast-body {
  padding: 0;
}
