.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-octant-grey6;
  line-height: 2.4rem;

  .icon {
    filter: blur(0.75rem);
  }

  .text {
    border-top: 0.1rem solid $color-octant-grey12;
    border-bottom: 0.1rem solid $color-octant-grey12;
    padding: 1.9rem 0;
    margin: 8rem 0 5.6rem;
  }
}
