.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: $layoutBodyMarginBottom;
}

.proposal {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  border-radius: $border-radius-16;
  background: $color-white;

  @media #{$tablet-down} {
    border-radius: 0;
  }
}

.proposalHeader,
.buttonAllocateWrapper,
.body,
.donors {
  padding-left: 5.6rem;
  padding-right: 5.6rem;
}

.proposalHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 4.8rem;

  .imageProfileWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
  }

  .imageProfile {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.6rem;

    @media #{$tablet-down} {
      width: 4.8rem;
      height: 4.8rem;
    }
  }

  .proposalRewards {
    margin: 3.2rem 0 5rem;
    border-bottom: 0.2rem solid $color-octant-grey4;
    padding-bottom: 2.4rem;
  }

  .buttonAddToAllocate {
    &Mobile {
      @media #{$desktop-up} {
        visibility: hidden;
      }
    }
    &Desktop {
      visibility: hidden;
      @media #{$desktop-up} {
        visibility: initial;
      }
    }
  }

  .name {
    font-size: $font-size-24;
    font-weight: $font-weight-bold;

    @media #{$tablet-down} {
      font-size: $font-size-16;
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;

  .buttonWebsite {
    align-self: stretch;
    justify-content: flex-start;
    border-top: 0.1rem solid $color-octant-grey4;
    border-bottom: 0.1rem solid $color-octant-grey4;
    padding: 2rem 0;
  }
}
