.box {
  user-select: none;

  &.isAllocatedTo {
    border: 0.1rem solid $color-octant-green;
  }
}

.details, .value, .button {
  padding: 2.2rem 2.4rem;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.name {
  font-size: $font-size-14;
  margin: 0 0 0.3rem 0;
  white-space: nowrap;
}

.funds {
  display: flex;
  font-weight: $font-weight-semibold;
  white-space: nowrap;
}

.indicator {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: $color-octant-red;
  margin: 0 0 0 0.4rem;

  &.isAboveThreshold {
    background: $color-octant-green5;
  }
}

.percent {
  display: flex;
  align-items: center;
  margin: 0 0 0 1rem;
  color: $color-octant-grey6;
  font-weight: $font-weight-semibold;
}

.value {
  color: $color-octant-grey2;
  border-left: 0.1rem solid $color-octant-grey4;
  border-right: 0.1rem solid $color-octant-grey4;

  &.isSelected {
    color: $color-octant-dark;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 6.4rem;

  &.isSelected {
    svg path {
      stroke: $color-octant-dark;
    }
  }
}

.button {
  width: 100%;

  &:first-child {
    border-bottom: 0.1rem solid $color-octant-grey4;
  }
}
