.boxes {
  width: 100%;
}

.box {
  min-height: 9.6rem;

  &.isAllocation {
    padding: 0;
  }

  &.isSelected {
    position: relative;
    z-index: $z-index-4;
  }

  &:not(:last-child) {
    margin: 0 auto 1.6rem;
  }
}

.selectedItemOverlay {
  position: fixed;
  z-index: $z-index-2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-octant-grey8;
  opacity: 0.5;
  cursor: pointer;
}

.tip {
  margin-bottom: 1.6rem;

  @media #{$desktop-up} {
    margin-bottom: 2.8rem;
  }
}
