.form {
  width: 100%;
  height: 100%;
}

.element {
  &:not(:last-child) {
    margin: 0 auto 1.6rem;
  }
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.input {
  @include flexBasisGutter(2, 1.6rem);
}

.timeCounter {
  margin-top: 1.6rem;
}

.button {
  width: 100%;
}
