.root {
  width: 100%;

  @media #{$desktop-up} {
    max-height: 100%;
    overflow: auto;
  }
}

.loader {
  margin: 0 auto;
}

.header {
  font-size: $font-size-16;
  font-weight: $font-weight-bold;
  margin: 2rem 0;
  text-align: left;

  @media #{$desktop-up} {
    display: none;
  }
}

.box {
  padding: 1.6rem;

  &:not(:last-child) {
    margin: 0 auto 1.6rem;
  }

  &.isPast {
    opacity: 0.5;
  }
}

.iconAndTitle {
  display: flex;
  align-items: center;
  flex: 1;
}

.titleAndSubtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.6rem;
}

.title {
  font-size: $font-size-14;
}

.subtitle {
  font-size: $font-size-12;
  color: $color-octant-grey13;
  margin-top: 0.3rem;
}

.values {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .primary {
    font-weight: $font-weight-bold;
  }

  .secondary {
    color: $color-octant-grey6;
    font-weight: $font-weight-semibold;
  }
}
