.root {
  &.isAlreadyAdded {
    svg path {
      stroke: $color-octant-orange;
      fill: $color-octant-orange;
    }

    &[data-is-initial-load-done="true"] {
      animation-name: scale1;
      animation-duration: $transition-time-1;
    }
  }
}
