.root {
  display: flex;
  justify-content: space-between;

  .button {
    flex: 1;
    height: 4.8rem;

    &:first-child {
      margin-right: 0.8rem;
    }

    &:last-child {
      margin-left: 0.8rem;
    }
  }
}
