$proposalItemPadding: 2.4rem;

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: $border-radius-16;
  background: $color-white;
  height: 28rem;
  width: 100%;
  bottom: 0;
  transition: bottom $transition-time-4 linear;

  &:hover {
    bottom: 0.5rem;
  }

  &.isClickable {
    cursor: pointer;
  }

  &.isLoadingStates {
    align-items: center;
    justify-content: center;
    padding: $proposalItemPadding;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: $proposalItemPadding $proposalItemPadding 1rem;
  }

  .button {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
  }

  .imageProfile {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
  }

  .body {
    padding: 0 $proposalItemPadding;
    text-align: left;
  }

  .name {
    font-weight: $font-weight-bold;
    margin: 0 0 0.6rem 0;
    height: 3.2rem;
    display: flex;
    align-items: center;
  }

  .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .proposalRewards {
    padding: 0 $proposalItemPadding $proposalItemPadding;
  }
}
