.root {
  width: 100%;
}

.reward {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.2rem;
  width: 100%;

  &:not(:last-child) {
    border-bottom: 0.1rem solid $color-white;
  }

  &:last-child {
    padding-bottom: 0;
  }

  .label {
    font-size: $font-size-14;
  }
}
